@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #e6e6e6;
  color: #141414;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #282828;
    color: #f0f0f0;
  }
}

.content-box {
  width: 100%;
  height: 100%;
}

.content-box .header-box {
  padding: 25px;
  font-size: 25px;
  font-weight: 600;
}

.content-box .body-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-box .body-box .input-box {
  width: 60%;
  height: calc(100% - 75px);
}

.content-box .body-box .input-box .editor-box {
  width: 80%;
  margin-left: 25px;
}

.content-box .body-box .input-box .button-box {
  margin-top: 25px;
  margin-left: 25px;
}

.content-box .body-box .input-box .button-box button {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: #f0f0f0;
  border-radius: 5px;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
  font-weight: bold;
}

.content-box .body-box .input-box .button-box #compile {
  background-color: #055d97;
}

.content-box .body-box .input-box .button-box #compile:hover {
  background-color: rgba(5, 93, 151, 0.5);
}

.content-box .body-box .input-box .button-box #run,
.content-box .body-box .input-box .button-box #step {
  background-color: #39850e;
}

.content-box .body-box .input-box .button-box #run:hover,
.content-box .body-box .input-box .button-box #step:hover {
  background-color: rgba(57, 133, 14, 0.5);
}

.content-box .body-box .input-box .button-box .upload-btn-box,
.content-box .body-box .input-box .button-box .download-btn-box {
  margin: 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.content-box .body-box .input-box .button-box .upload-btn-box .btn,
.content-box .body-box .input-box .button-box .download-btn-box .btn {
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 0;
  border: none;
  color: #f0f0f0;
  background-color: #3c3c3c;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: .2s;
  transition: .2s;
}

.content-box .body-box .input-box .button-box .upload-btn-box:hover .btn,
.content-box .body-box .input-box .button-box .download-btn-box:hover .btn {
  background-color: rgba(60, 60, 60, 0.5);
}

.content-box .body-box .input-box .button-box .upload-btn-box input[type=file],
.content-box .body-box .input-box .button-box .download-btn-box input[type=file] {
  cursor: pointer;
  font-size: 100px;
  position: absolute;
  height: 40px;
  width: 40px;
  left: 0;
  top: 0;
  opacity: 0;
}

.content-box .body-box .input-box .debug-box {
  width: 80%;
  margin-left: 25px;
  padding-top: 25px;
}

.content-box .body-box .input-box .debug-box article {
  display: block;
  margin: 0;
  padding: 2.5px;
  font-size: 14px;
  opacity: 0.5;
}

.content-box .body-box .input-box .debug-box .error {
  color: red;
}

.content-box .body-box .info-box {
  width: 40%;
  height: calc(100% - 75px);
}

.content-box .body-box .info-box .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.content-box .body-box .info-box .row .registers-box .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.content-box .body-box .info-box .row .registers-box .register .label {
  width: 100px;
  text-align: center;
}

.content-box .body-box .info-box .row .registers-box .register .byte {
  outline: none;
  border: none;
  border-radius: 2.5px;
  padding: 2.5px 5px;
  width: 40px;
  margin: 0 2.5px;
  text-align: center;
  font-size: 15px;
  color: #141414;
  background-color: #d2d2d2;
}

@media (prefers-color-scheme: dark) {
  .content-box .body-box .info-box .row .registers-box .register .byte {
    color: #f0f0f0;
    background-color: #464646;
  }
}

.content-box .body-box .info-box .row .flags-box {
  padding-left: 20px;
}

.content-box .body-box .info-box .row .flags-box .flag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.content-box .body-box .info-box .row .flags-box .flag .label {
  width: 50px;
  text-align: center;
}

.content-box .body-box .info-box .row .flags-box .flag .checkbox {
  outline: none;
  border: none;
  border-radius: 2.5px;
  padding: 2.5px 2.5px;
  width: 23px;
  height: 23px;
  margin: 0 2.5px;
  color: #141414;
  background-color: #d2d2d2;
}

@media (prefers-color-scheme: dark) {
  .content-box .body-box .info-box .row .flags-box .flag .checkbox {
    color: #f0f0f0;
    background-color: #464646;
  }
}

.content-box .body-box .info-box .memory-box {
  margin: 0;
  padding-top: 20px;
}

.content-box .body-box .info-box .memory-box .memory-control label {
  display: inline-block;
  padding: 5px 10px;
  width: 160px;
  text-align: right;
}

.content-box .body-box .info-box .memory-box .memory-control .memAddr,
.content-box .body-box .info-box .memory-box .memory-control .memSize {
  outline: none;
  border: none;
  padding: 2.5px 5px;
  text-align: center;
  margin: 2.5px;
  font-size: 15px;
  width: 160px;
  color: #141414;
  background-color: #d2d2d2;
}

@media (prefers-color-scheme: dark) {
  .content-box .body-box .info-box .memory-box .memory-control .memAddr,
  .content-box .body-box .info-box .memory-box .memory-control .memSize {
    color: #f0f0f0;
    background-color: #464646;
  }
}

.content-box .body-box .info-box .memory-box .memory-control .memAsInt {
  outline: none;
  border: none;
  border-radius: 2.5px;
  width: 23px;
  height: 23px;
  margin: 0 2.5px;
  color: #141414;
  background-color: #d2d2d2;
}

@media (prefers-color-scheme: dark) {
  .content-box .body-box .info-box .memory-box .memory-control .memAsInt {
    color: #f0f0f0;
    background-color: #464646;
  }
}

.content-box .body-box .info-box .memory-box .memory-content {
  padding-top: 10px;
  position: relative;
}

.content-box .body-box .info-box .memory-box .memory-content .row input[type="text"] {
  outline: none;
  border: none;
  padding: .5% .25%;
  text-align: center;
  margin: .5%;
  font-size: 15px;
  color: #141414;
  background-color: #d2d2d2;
}

@media (prefers-color-scheme: dark) {
  .content-box .body-box .info-box .memory-box .memory-content .row input[type="text"] {
    color: #f0f0f0;
    background-color: #464646;
  }
}

.content-box .body-box .info-box .memory-box .memory-content .row .mem8 {
  width: 7%;
}

.content-box .body-box .info-box .memory-box .memory-content .row .mem16 {
  width: 14%;
}

.content-box .body-box .info-box .memory-box .memory-content .row .mem32 {
  width: 28%;
}
/*# sourceMappingURL=main.css.map */